.card-support {

    background-color: #f7ececc7;
    margin-left: 20%;
    margin-bottom:50px;
    border-radius: 25px;
}

.custom-link.form-control {
    border: 1px solid #bab3b3;
    background-color: white;
    transition: background-color 0.3s ease;
}

.custom-link.form-control:hover {
    background-color: #f7ececc7;
}

.contacts {
    list-style: none;
    padding: 0;
}

.contacts li {
    width: 100% !important;
    padding: 5px 10px;
    margin-bottom: 15px !important;
}

.admin_img {
    height: 70px;
    width: 70px;
    border: 1.5px solid #f5f6fa;

}

.user_info {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 15px;
}

.user_info span {
    font-size: 20px;
    color: black;
}

.user_info p {
    font-size: 10px;
    color: rgba(255, 255, 255, 0.6);
}

#action_menu_btn {
    position: absolute;
    right: 10px;
    top: 10px;
    color: white;
    cursor: pointer;
    font-size: 20px;
}

.action_menu {
    z-index: 1;
    position: absolute;
    padding: 15px 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 15px;
    top: 30px;
    right: 15px;
    display: none;
}

.action_menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

@media(max-width: 576px) {
    .contacts_card {
        margin-bottom: 15px !important;
    }
}